body{
    background-color: rgb(211, 227, 233);
}
.icon{
    font-size:1cm;
    margin-right:1.45cm;
}
#Home{
    text-align: left;
    width:34%;
    position:relative;
    left:13.5cm;
    top:3cm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Home p{
    font-size: smaller;
}
#header{
    background-color: black;
    color:white;
    text-align: center;
    height:0.8cm;
    padding-top:5px;
}
.header_button{
    position:relative;
    left:12.6cm;
    margin-left:5px;
}
span{
    position:relative;
    left:1cm;
}
#sign{
    text-align: center;
}
img{
    width:2cm;
    height:2cm;
}
#courseBox{
    border:0.5px solid;
    margin-top:6px;
    margin-bottom: 6px;
}
#courseBox span{
    position:relative;
    bottom:0.8cm;
}
#dash{
    width:40%;
    position: relative;
    left:10.5cm;
    margin-top:1cm;
    text-align: left;
}
#Dashh{
    text-align: center;
    margin-bottom: 1.5cm;
}
#logout{
    display: none;
    position: relative;
    left:12.5cm;
}